*{
  font-family: Arial, Helvetica, sans-serif;
}


.toolbar {
  position: fixed;
  z-index: 10;
  top: 30px;
  left: 20px;
}

.share-button {
  top: 30px;
  right: 40px;
  background-color: black;
}

@media (max-width: 768px) {
  .toolbar {
    bottom: 30px;
    top: auto;

  }

  .share-button {
    top: auto;
    bottom: 30px;
  }
}
