*{
  font-family: Arial, Helvetica, sans-serif;
}


.toolbar {
  position: fixed;
  z-index: 10;
  top: 0;
}

.share-button {
  top: 20px;
  right: 40px;
}

@media (max-width: 768px) {
  .toolbar {
    bottom: 0;
    top: auto;

  }

  .share-button {
    bottom: 0;
  }
}
